<%- include("../../views/partials/admin/header") %>

<div class="container mt-5">
  <h2>Add Coupon</h2>
  <form id="couponForm">
    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" class="form-control" id="code" name="code" required>
    </div>
    
    <div class="form-group">
      <label for="price">Discount Price (%)</label>
      <input type="number" class="form-control" id="price" name="price" required min="0" max="100">
      <small class="form-text text-muted">Enter a percentage value (0 - 100).</small>
    </div>

    <div class="form-group">
      <label for="minimumAmount">Minimum Amount</label>
      <input type="number" class="form-control" id="minimumAmount" name="minimumAmount" required>
    </div>

    <div class="form-group">
      <label for="maximumAmount">Maximum Amount</label>
      <input type="number" class="form-control" id="maximumAmount" name="maximumAmount" required>
    </div>

    <div class="form-group">
      <label for="createdOn">Created On</label>
      <input type="date" class="form-control" id="createdOn" name="createdOn" required>
    </div>

    <div class="form-group">
      <label for="endOn">End On</label>
      <input type="date" class="form-control" id="endOn" name="endOn" required>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Add Coupon</button>
  </form>
  <br>
  <br>
  <br>
</div>
<script>
  document.getElementById('couponForm').addEventListener('submit',async (event) => {
    event.preventDefault();

    const form = document.getElementById('couponForm'); 
    const formData = new FormData(form);
    const formObject = {};
    formData.forEach((value,key)=>{
      formObject[key] = value;
    })
    
    try {
      const response = await fetch('/admin/add-coupons',{
        method:'POST',
        headers:{
          'Content-Type':'application/json'
        },
        body: JSON.stringify(formObject)
        })

        //handle response 

        const result = await response.json();

        if(response.ok){
          Swal.fire({
            title:"Coupon Added",
            text: result.message + (result.isActive ? " (Active)" : " (Inactive)"),
            icon:"success",
            confirmButtonText:"OK"
          })
        }else{
          Swal.fire({
            title:"Error!",
            text:result.message,
            icon:"error",
            confirmButtonText:'OK'
          })
        }
    } catch (error) {
       Swal.fire({
        title: "Error!",
        text: "An unexpected error occurred. Please try again later.",
        icon: "error",
        confirmButtonText: "OK"
      });
      console.error("Error:", error);
    }
  }
  )
</script>

<%- include("../../views/partials/admin/footer") %>
